<!DOCTYPE html>
<html>
  <head>
    <title>Fresh Sinatra</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style/style.css">
  </head>
  <body>
    <h1>Fresh Sinatra/h1>
  </body>
</html>